.card {
  position: relative;
  border: 1px solid #eaeaea;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  flex-basis: 28%;
  min-height: 350px;
  border-radius: 10px;
}

.img {
  margin-top: auto;
  border-radius: 5px;
  border: solid #cdd0cb;
  width: 100%;
  height: auto;
  max-width: 100%;
}